button {
    padding: .5rem;
    border-radius: 10%;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    width: 75%;
    max-width: 800px;
    margin: auto;
}

main section > * {
    margin: 1rem 0;
}

