:root {
    --padding-thin: 0.25rem;
    --padding-base: 0.5rem;
    --margin-base: 0.5rem;
    --margin-thick: 1rem;

    --roundCorners: 10%;
}

button {
    padding: var(--padding-thin) var(--padding-base);
    border-radius: var(--roundCorners);
    border-style: none;
    font-size: .9rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-base);
    margin-bottom: 1.75rem;
}

input {
    font-size: 0.9rem;
}

main {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}

main section > * {
    margin-bottom: var(--margin-thick);
}

.hide {
    display: none;
}

#InitialForm {
    display: flex;
    gap: var(--margin-base);
}

#ScoreBoard li {
    margin-bottom: var(--margin-thin);
}

#ScoreBoard ol {
    padding: var(--padding-thin);
}

#Question ol {
    width: 33%;
}

#Question ol li {
    margin: var(--margin-base);
    padding: var(--padding-base);
    border-radius: var(--roundCorners);
}

#Question p {
    border-top-width: 1px;
    border-top-style: solid;
    padding: var(--padding-base);
}