* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

main section {
    text-align: center;
}


#Question {
    text-align: left;
}

#Question p {
    font-style: italic;
}